.scroll-top
{
  position: fixed;
  bottom: 10px;
  right: 20px;
  background: coral;
  color: #fff;
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, transform 0.2s;
}

.scroll-top:hover
{
  background: #49a1f4;
  transform: translateY(-3px);
}
