<div class="home-background">
  <div class="container text-center py-5 mt-5">
    <img src="../../assets/images/mylogo.jpg" alt="Profile Photo" class="rounded-circle shadow profile-img" />
    <h1 class="mt-4">Hi, I'm Viswanivas Bendadi</h1>
    <p class="lead">
      I am a dedicated and detail-oriented Software Engineer with a passion for building
      full-stack applications. I take pride in creating responsive, efficient, and
      user-focused web solutions. With a strong commitment to quality and continuous learning,
      I strive to deliver software that meets both functional and user experience goals.
      Currently, I am expanding my expertise to include mobile development, aiming to build
      seamless and comprehensive solutions across platforms.
    </p>
    <li class="nav-item ms-2">
      <a
        class="btn btn-outline-primary resume-btn"
        href="../../assets/images/viswanivas_bendadi_resume_pdf.pdf"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="bi bi-file-earmark-person-fill me-1"></i>Resume
      </a>
    </li>
  </div>
</div>