<div class="home-background">
  <div class="container">
    <div class="hero-content">
      <!-- IMAGE FIRST -->
      <div class="hero-illustration-wrapper">
        <div class="hero-illustration">
          <img src="../../assets/images/illustration-16.webp" alt="Digital Growth Illustration" />
        </div>
      </div>

      <!-- TEXT SECOND -->
      <div class="hero-text">
        <div class="tag-line">
          <i class="bi bi-lightbulb"></i>
          Turning Ideas into Scalable Solutions
        </div>
        <h1 class="hero-title">
          Accelerating Digital Growth Through Smart Development
        </h1>
        <p class="hero-subtitle">
          As a full-stack developer, I craft custom websites and applications that solve real problems — built with
          logic, precision, and purpose.
        </p>
        <div class="hero-cta">
          <a routerLink="/about" class="btn-primary-custom">
            <i class="bi bi-rocket"></i>
            About Me
          </a>
          <a href="https://drive.google.com/file/d/1fmSjHzsf69OSiOClawD3xQ-I6kIiSsoX/view?usp=drive_link"
            target="_blank" rel="noopener noreferrer" class="btn-outline-custom">
            <i class="bi bi-file-earmark-person-fill"></i>
            Resume
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
