*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar
{
  position: fixed;
  top: 0;
  left: -30%;
  width: 20%;
  color: white;
  padding: 3rem 1rem 1rem;
  transition: left 0.3s ease-in-out;
  z-index: 1050;
}

.sidebar.open
{
  left: 0;
}

.sidebar .nav {
  flex-direction: column;
  height: 100%;
  width: 100%;       
}

.sidebar .nav-item {
  margin-top: 3%;
  width: 100%;
}

.sidebar .nav-link {
  color: #f8f4f4;
  font-weight: 500;
  transition: 0.3s ease;    
}


.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  color: #49a1f4;
  border-radius: 8px;
}

.sidebar-header {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  left: 4rem;
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1101;
  margin-top: -3.5%;
}

.navbar-brand {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1100;
  font-size: 1.2rem !important; 
}

.navbar-brand svg {
  transition: transform 0.3s ease, filter 0.3s ease;
  width: 40px;
  height: 40px; 
}

.navbar-brand svg:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgb(16, 16, 16));
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.theme-toggle-btn {
  background: none;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.theme-toggle-btn:hover {
  color: #5db3e9;
}

body.dark-mode .nav-link {
  color: #ddd;
}

.hamburger
{
  position: fixed;
  top: 0.3rem;
  left: 0.8rem;         
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem !important; 
  z-index: 1100;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  line-height: 1;
  padding: 0.1rem;   
}

.hamburger.hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 767px) {
.sidebar {
  width: 30%;
  padding-top: 1rem;
  background: rgba(0, 0, 0, 0.5);
}
.close-btn
{
  position: absolute;
  left: 3rem;
  font-size: 1.7rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1101;
  top: -1%;
}

  .sidebar .nav
  {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
  }

  .sidebar .nav-item
  {
    margin-top: 1rem;
  }

  .hamburger
  {
    display: block;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
  }

  .navbar-brand
  {
    display: block;
    top: 1rem;
    right: 1rem;
    width: 40px;
    font-size: 1rem !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    width: 60%;
    padding-top: 5rem;
  }

  .sidebar .nav {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    width: auto;
  }

  .sidebar .nav-item {
    margin-top: 1rem;
  }

  .hamburger {
    display: block;
    font-size: 2.2rem;
    top: 1.5rem;
    left: 1.5rem;
  }

  .navbar-brand {
    display: block;
    top: 1.2rem;
    right: 1.5rem;
    width: 45px;
  }
}

@media (min-width: 992px) {
  .sidebar {
    width: 40%;
    padding-top: 5rem;
  }

  .sidebar .nav {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
  }

  .sidebar .nav-item {
    margin-top: 1rem;
  }

  .hamburger {
    display: block;
    font-size: 2.2rem;
    top: 1.5rem;
    left: 1.5rem;
  }

  .navbar-brand {
    display: block;
    top: 1.2rem;
    right: 1.5rem;
    width: 50px;
  }
}


